.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 20rem 45rem;
  margin-left: 10rem;
  gap: 1rem;
  color: white;
}

.ProfileRight {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
